<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

    </style>
</head>

<body>
    <div id="app">
        <div>
            <input type="text" v-model='fname'>
            <button @click='add'>添加</button>
            <button @click='del'>删除</button>
            <button @click='change'>替换</button>
        </div>
        <div>
            <ul>
                <li v-for='(item,index) in list'>{{item}}</li>
            </ul>
        </div>
        <div>
            <div>{{info.name}}</div>
            <div>{{info.age}}</div>
            <div>{{info.gender}}</div>
        </div>
    </div>

    <script src="js/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                list: ['apple', 'banana', 'orange'],
                fname: '',
                info: {
                    name: 'lisi',
                    age: 20
                }
            },
            methods: {
                add: function() {
                    this.list.push(this.fname)
                },
                del: function() {
                    this.list.pop()
                },
                change: function() {
                    //该方法会生成新的数组
                    this.list = this.list.slice(0, 2)
                }
            }
        });
        //修改响应式数据,两种发发都可实现
        Vue.set(vm.list, 2, 'lemon')
        vm.$set(vm.list, 1, 'nidie')

        // vm.info.gender = 'male'
        vm.$set(vm.info, 'gender', 'female')
    </script>
</body>

</html>